body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: DimGray;
}

table {
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    color: Sienna;
}

table th, table td {
    padding: 5px 10px;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #dcecfb;
}

form td {
    border: 0px;
}

/* --- inputs --- */

input {
    padding: 2px;
    width: 100px;
    border-radius: 4px 4px 4px 4px;
    text-align: left;
    border: 1px solid Silver;
    transition: border-color 500ms, background-color 500ms;
    outline: 0px;
}

input:focus {
    border-color: #528ecc;
    background-color: #eef4ff;
}

input:focus:invalid {
    border-color: red;
    background-color: #ffeeee;
}

input[type="submit"] {
    text-align: center;
    background-color: white;
    font-weight: bold;
    width: 106px;
    border: 1px solid #fb9e25;
    transition: background-color 500ms;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #fb9e25;
}

#bodyBox {
    background-color: DimGray;
}

#mainBox {
    border: 1px solid black;
    background-color: white;
    width: 1200px;
    margin: 0px auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#mainBox > .inner {
    margin: 10px;
    padding: 10px;
}

#headBox {
    height: 30px;
}

#menuBox {
    float: left;
    width: 750px;
    height: 30px;
    overflow: hidden;
    clear: both;
}

#menuBox ul {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#menuBox ul > li {
    list-style: none;
    float: left;
    margin: 5px 0px;
}

#menuBox ul > li > a {
    text-decoration: none;
    color: #fb9e25;
}

#menuBox ul > li > a:hover {
    text-decoration: underline;
    color: #528ecc;
}

#menuBox ul > li:nth-child(1n + 2):before {
    content: '|';
    margin: 5px 10px;
}

#loginBox {
    width: 200px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid black;
    margin: 200px auto;
    padding: 10px;
}











